registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm/
@eui:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm-local/
@adp:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm-local/
