*

!backend
backend/.DS_Store
backend/.scannerwork
backend/sonar-project.properties
backend/README.md
backend/.eslintrc.cjs
backend/.mocharc.cjs
backend/.prettierignore

!consumer-contract-tests

!docker/entrypoint.sh
!docker/probe.sh
!docker/entrypoint.dev.sh

!frontend

!mock

# Ignore these specifically, as they can be nested in directories
**/node_modules
**/.cdt
**/*.pyc
**/*.gitignore
**/test*
**/__tests__
**/__mocks__