.DS_Store
.bob
.idea
.scannerwork/**
.tilt
.vscode
anchore_metadata.properties
backend/.nyc_coverage/
backend/.nyc_output/
backend/.scannerwork/**
backend/help_content/**
charts/ci/Chart.lock
frontend/.nyc_coverage/
frontend/.nyc_output/
frontend/.scannerwork/**
node_modules
target
test-output/**
tilt.option.user.json
tilt_modules
trivy_metadata.properties
/$HOME/
*.tgz
**/build/**
**/out/**