plms/dependencies_foss_auto.yaml
plms/dependencies_manual.yaml
plms/foss.usage.yaml
bob/
frontend/.nyc_coverage
frontend/.nyc_output
frontend/coverage
backend/test/reports/
consumer-contract-tests/reports/
