registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-cea-ui-npm
@adp:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm-local/
legacy-peer-deps=true
